*{
    margin: 0%;
    padding: 0%;
}
#b1{
    background-color: black;
    width: 120px;
    height: 120px;
    background-size: cover;
    position: relative;
    left: 450px;
    top:200px;
    box-shadow: 2px 1px 4px 1px rgb(37, 33, 33);
}
#b2{
    background-color: aquamarine;
    width: 120px;
    height: 120px;
     position: relative;
    top:200px;
    box-shadow: 2px 1px 4px 1px rgb(37, 33, 33);
}
#b3{
    background-color: black;
    width: 120px;
    height: 120px;
     position: relative;
    top:200px;
    right:450px;
    box-shadow: 2px 1px 4px 1px rgb(37, 33, 33);
}
.cls1{
    display: inline-block;
    display: flex;
    justify-content:space-between
}
img{
    width: 120px;
    height: 120px;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
    top:160px;
    font-weight: 900;
}
#rec{
     text-align: center;
     position: relative;
     top:158px;

}